<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>265080489498-s01tctoru3inh9jkqvkvmlqeofv1vlvq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.265080489498-s01tctoru3inh9jkqvkvmlqeofv1vlvq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>265080489498-o7no11b4v82j5ep03a0oml5ap2jbnfct.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBzmm5hSZeysNmcFEQF-UhmFOA2YwTTvA4</string>
	<key>GCM_SENDER_ID</key>
	<string>265080489498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.inspt</string>
	<key>PROJECT_ID</key>
	<string>quickorganizer-d6049</string>
	<key>STORAGE_BUCKET</key>
	<string>quickorganizer-d6049.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:265080489498:ios:b3d40c904752c0707ab3a3</string>
</dict>
</plist>